.cabecalho {
    background: linear-gradient(black,rgb(255, 0, 0));
    color: rgb(250, 250, 250);
    display: flex;
    padding: 24px 0;
    ;
}

.section1{
    background:linear-gradient(rgb(255, 0, 0),rgb(0, 0, 0)))
    padding: 100px;
}

.section2 {
    background-color: blue;
padding: 100px;
}
.cabecalho-image{
    width: 20%;
}
