.cabecalho {
    background: linear-gradient(black,rgb(255, 0, 0));
    color: blue;
    display: flex;
    padding: 24px 0;
    ;
}

.section1{
    background-color: rgb(255, 0, 0);
    padding: 100px;
}

section2 {
    background-color: blue;
padding: 100px;
}
.cabecalho-image{
    width: 20%;
}
